.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  & * {
    margin: 10px 0;
  }

  & button {
    width: 35%;
    border-radius: 15px;
    margin-top: 20px!important;
  }

  & .MuiOutlinedInput-notchedOutline {
    border-color: #000;
  }

  & .MuiInputLabel-outlined {
    color: #000;
  }
}
