.App {
  padding: 5% 7%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.upper-controls {
  position: fixed;
  top: 7%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .left-contact {
    position: absolute;
    right: 10%;
  }
}

.MuiButton-root {
  min-width: fit-content !important;
  font-size: 1.2rem !important;
}

.MuiTypography-h4 {
  width: fit-content;
}

.button {
  min-width: 5% !important;
  margin: 0 1% !important;
}

.bold {
  font-weight: 900;
}

.arrow {
  width: 25px;
  height: 30px;
  margin: 0 auto;
  display: block;
  position: fixed;
  bottom: 5%;
  //   left: calc(50% - 12.5px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondary {
  color: #ff0000;
}

// default is for bio
.header-info {
  height: 50vh;
  display: flex;
  margin-top: 15vh;
  flex-direction: column;
  justify-content: start;
  transition: all 1s ease-in-out;
  .sub-text {
    margin: 2.5% 0;
  }
  .main-title {
    transition: all 1s ease-in-out;
    position: relative;
    max-width: fit-content;
    left: 0;
    top: 0;
  }
  .round-text {
    position: absolute;
    height: 250%;
    width: 250%;
    top: -90%;
    left: -30%;
    z-index: -2;
    @media screen and (max-width: 1450px) {
      display: none;
  }}

  &.works {
    margin-top: 25vh;

    .main-title {
      position: relative;
      left: 70%;
      top: 20%;
    }
  }
}
// work item
.work-item-wrapper {
  padding-top: 10%;
  margin-bottom: 7% !important;
  position: relative;
  img {
    width: 100%;
  }
  .title {
    margin-bottom: 10%;
    position: relative;
    white-space: nowrap;
  }
  .background-color {
    background-color: #ffc0cb;
    position: absolute;
    top: 50%;
    left: 5%;
    height: 60%;
    width: 100%;
    z-index: -2;
  }
  p {
    margin-bottom: 10%;
  }
  .background {
    position: absolute;

    width: 100%;
    height: 100%;
    top: -10%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../assets/images/WORKS.png");
    &.left {
      left: -40%;
    }
    &.right {
      right: -40%;
    }
  }
}

@media (max-width: 1450px) {
  .header-info.works {
    .main-title {
      left: 50%;
      top: 0;
    }
  }
}

@media (max-width: 1050px) {
  .header-info.works {
    .main-title {
      left: 30%;
      top: 0;
    }
  }
}

@media (max-width: 650px) {
  .header-info.works {
    .main-title {
      left: 0;
      top: 0;
    }
  }
}
